/* Réinitialisation du style par défaut */
body, h2, label, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style global du body */
body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* En-tête avec les deux images alignées */
header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-left img, .header-right img {
    width: 150px; /* Ajuste la taille des logos */
    height: auto;
}

/* Conteneur du formulaire de connexion */
.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Titre du formulaire */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Groupes de champs (identifiant, mot de passe) */
.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2a3d6f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #162a4d;
}